.blanco {
   background-color: rgb(233, 200, 39);
   position: relative;
}

.imagenes {
    margin-top: 10%;
    margin: 5%;
}
   
#izquierda {
    
    border: 3px solid black ;
    margin-top: 5%;
    background-color: rgb(0, 0, 0);
}

#centro{
    margin-top: -40%;
    border: 3px solid black;
    margin-left: 37%;
    background-color: rgb(7, 7, 7);
}

#derecha {
    margin-top: -41%;
    border: 3px solid black ;
    margin-left: 75%;
    background-color: rgb(7, 7, 7);
}

#logo {
    width: 70px;
    height: 70px;
    margin-left: 13%;
   
}
    
h1{
   margin-top: -3%;
    margin-left: 1%;
    font-family: 'Mystery Quest', cursive;
    font-size: 250%;
    color: rgb(205, 192, 7);
    
}

#menu{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;

}

header {
    background-color: rgb(0, 0, 0);
    margin-left: -1%;
    margin-right: -1%;
    position: fixed;
    right: 0%;
    left: 0%;
    top: 0%;
    z-index: 9999;
}


#Precios{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    border-style: 3px solid rgb(0, 0, 0);
    color: rgb(242, 242, 234);
}

#lista{
    background-color: rgb(228, 193, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}


h4{
    font-size: 50px;
    text-align: center;
    background-color: rgb(255, 238, 190);
    margin-top: 8%;
}

#mejor{
    font-size: 45px;
    text-align: center;
    background-color: rgb(255, 238, 190);
    margin-top: 10%;
}

#promo1{
    margin-left: -28%;
    margin-left: 4%;
    border: 3px solid rgb(0, 0, 0);
}

#promo2{
    margin-left: 23%;
    margin-top: -27%;
    border: 3px solid rgb(0, 0, 0);
    
}

#promo3{
    margin-left: 42%;
    margin-top: -35%;
    border: 3px solid rgb(0, 0, 0);
}

#promo4{
    margin-left: 61%;
    margin-top: -27%;
    border: 3px solid rgb(0, 0, 0);
}

#promo5{
    margin-left: 80%;
    margin-top: -35%;
    border: 3px solid rgb(0, 0, 0);
}

#inicio{
    color: rgb(8, 8, 8);
    text-decoration: none;
    margin-left: 8%;
}




label{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#tformulario{
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-top: -0.3%;
}

#principalfoto{
    width: 104%;
    opacity: 90%;
    margin-left: -2%;
    margin-top: 6.8%;
}

#cuenta{
    margin-top: 5%;
    margin-left: 5%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

#pedido{
    margin-top: -7.9%;
    margin-left: 40%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

#envio{
    margin-top: -7.8%;
    margin-left: 70%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

#fotoenvio{
    margin-top: -7%;
}

#si{
    margin-top: 2%;
    margin-left: 95%;
    margin-right: 15%;
    background-color: rgb(233, 200, 39);
}

#no{   
    background-color: rgb(219, 173, 8);
}

#inicio1{
    font-size: 20px;
    border: 2px solid white;
    text-align: center;
}

#guia{
    font-size: 20px;
    border: 2px solid white;
    text-align: center;
    margin-top: 5%;
}

#linea{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

#mensaje{
    margin-left: 15%;
    font-size: 25px;
    font-family: 'Mystery Quest', cursive;
    margin-top: 3%;
    background-color: rgb(255, 196, 114);
    margin-right: 55%;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 2%;
}

#Ayuda, input,textarea{
    margin-left: 40%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 3%;
    display: block;
    margin-right: 20%;
    text-align: center;}

#Ayuda{
    margin-top: -26%;}

#p{
   text-align: left;
   margin-left: 40%;}

input, textarea{
    background-color: rgb(243, 233, 118);
    border: 2px solid black;}

#q{
   text-align: left;
   margin-left: 40%;}

#texto{
    font-size: 25px;
    margin-top: 2%;
    font-family: 'Mystery Quest', cursive;
    margin-right: 40%;}

#tejedora{
    margin-left: 65%;
    margin-top: -90%;
    margin-bottom: 32%;
    border: 2px solid black;}
    
#tejedora:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec7e1e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);}


#titulo1{
    font-size: 35px;
    margin-top: 10%;
    color: black;
    font-family: 'Dancing Script', cursive;}

#politicas{
    font-size: 25px;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#agradecimiento{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

#titulo2{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 5%;}

#Promosprecio{
    font-size: 25px;
    text-align: center;}

#ppromos{
    font-size: 20px;
    text-align: center;}

#cuenta:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#cuenta {overflow:hidden;}

#pedido:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#pedido {overflow:hidden;}

#envio:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#envio {overflow:hidden;}

#mapa{
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
    border-radius: 5%;}

#titulomapa{
    color: black;
    font-size: 25px;
    margin-top: -25%;
    margin-right: 75%;}

#direcciones{
    font-size: 20px;
    margin-right: 75%;
    font-family: Georgia, 'Times New Roman', Times, serif;}

#cuenta2{
    margin-top: 12%;
    margin-left: 5%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);}

#pedido2{
    margin-top: -8%;
    margin-left: 38%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);}

#envio2{
    margin-top: -7.8%;
    margin-left: 70%;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);}

#cuenta2:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#cuenta2 {overflow:hidden;}

#pedido2:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#pedido2 {overflow:hidden;}

#envio2:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#envio2 {overflow:hidden;}

footer{
    background-color: rgb(0, 0, 0);}

a{
    text-decoration: none;
    color: #ec7e1e;}

#instagram{
    margin-left: 40%;}

#youtube{
    margin-left: 5%;}

#facebook{
    margin-left: 5%;}

#f{
    color: #ec7e1e;
    margin-left: 42%;}

#e{
    color: #ec7e1e;
    margin-left: 46%;
    margin-top: 2%;}

#r{
    color: #ec7e1e;
    margin-left: 46%;
    font-size: 25px;
    margin-top: 3%;}

#s{
    background-color: #ec7e1e;
    color: #ec7e1e;
    margin-right: 62%;
    margin-top: -1.5%;}

#t{
    color: #ec7e1e;
    background-color: #ec7e1e;
    margin-left: 61%;
    margin-top: -2%;}

#carro{
    color:  rgb(255, 213, 3);
    margin-left: 38%;
    margin-top: -8%;}

#github{
    color: rgb(255, 213, 3);
    margin-left: 10%;
    margin-top: -8%;}

#sol{
    color: rgb(255, 213, 3);
    margin-left: 10%;
    margin-top: -8%;
    background-color: black;
}


#formulario{
    margin-left: 30%;
    background-color: #ffdd76;}

#formulario input, select { 
    display: block;
    margin-top: 10px;
    text-align: center;
    margin: 10%;
    background-color: rgb(255, 231, 109);
    font-size: 30px;
    color: rgb(0, 0, 0);}

#formulariopago{
    background-color: #ffdd76;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid black;
    margin-top: 10%;
    color: black;}

#b{
    color: #ec7e1e;
    background-color: #fca151;
    margin-left: -43%;
    margin-top: -5%;}

#usuario{
    margin-top: -25%;
    margin-bottom: 13%;
    margin-left: 5%;
}

#edad{
    margin-top: -25%;
    margin-bottom: 13%;
    margin-left: 4%;
}

#email{
    margin-top: -20%;
    margin-bottom: 12%;
    margin-left: 4%;
}

#telefono{
    margin-top: -20%;
    margin-bottom: 13%;
    margin-left: 4%;
}

#tarjeta{
    margin-top: -20%;
    margin-bottom: 12.5%;
    margin-left: 4%;
}

#lugar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    margin-left: -5%;
}

#barrio{
    margin-top: -20%;
    margin-bottom: 13%;
    margin-left: 4%;
}

#enviar{
    margin-top: -5%;
}

.boton{
    background-color: white
}

#Performulario{
    margin-top: 13%;
    background-color: #e99797;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px solid black;

}

#color{
    margin-left: 40%;
    margin-top: 5%;
}

#Tpersonalizacion{
    color: black;
   
    font-size: 25px;
    text-align: center;
    margin-top: -6%;
}

#Performulario input, textarea {
    margin-left: 40%;
    margin-top: 5%;

}

#acuerdo{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 63%;
    margin-bottom: -32%;

}



/*
  
*/